{% extends "layout.html" %}
{% block content %}
<div class='image-background hero'>
    <div class='container-fluid h-100 mask' style="background-color: #93B1A6;">
      <div class='row h-100 align-items-center'>
        <div class='col-12 text-center'>
        <p style="height:100px"></p>
          <h1 class='display-2'>G&nbsp;A&nbsp;L&nbsp; L&nbsp;E&nbsp;R&nbsp;I&nbsp;A&nbsp;</h1>
          <p style="height:10px"></p>
          <p class='lead'>Art has no rules<span class="fw-bold">
          <p style="height:10px"></p>
          <button class="button-17 md-5"> <a href="{% url 'explore' %}" style="text-decoration:none; color:#512B81">EXPLORE</a></button>

        </div>
      </div>
    </div>
</div>
{% endblock content %}